.comments {
    margin: 0 auto 5.9% auto;
}

@media (max-width: 1280px) {
    .comments {
        margin-bottom: 8.1%;
    }
}
@media (max-width: 1024px) {
    .comments {
        margin-bottom: 9.5%;
    }
}

@media (max-width: 768px) {
    .comments {
        margin-bottom: 6.7%;
    }
}

@media (max-width: 375px) {
    .comments {
      margin-bottom: 0;
    }
}