.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5.2% auto 2% auto;
}


@media (max-width: 1280px) {
    .places {
        margin-top: 7.1%;
    }
}

@media (max-width: 1024px) {
    .places {
        margin: 10.7% auto 4.1% auto;
    }
}
@media (max-width: 768px) {
    .places {
        margin-top: 11.2%;
        margin-bottom: 3.5%;
    }
}
@media (max-width: 375px) {
    .places {
        margin-top: 13.1%;
        margin-bottom: 1.5%;
    }
}

@media (max-width: 320px) {
    .places {
        margin-top: 21%;
    }
}
