.content__description-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 2.4%;
}

@media (max-width: 1024px) {
    .content__description-text  {
        margin-bottom: 3.2%;
    }
}

@media (max-width: 768px) {
    .content__description-text  {
        margin-bottom: 3.5%;
    }
}

@media (max-width: 375px) {
    .content__description-text  {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 10.5%;
    }
}

@media (max-width: 320px) {
    .content__description-text  {
        margin-bottom: 12.5%;
    }
}

