.video {
    width: 583px;
    height: 323px;
    border-radius: 2%;
}

@media (max-width: 768px) {
    .video {
        width: 352px;
        height: 200px;
    }
}
@media (max-width: 375px) {
    .video {
        width: 343px;
        height: 200px;
        margin-bottom: 3%;
    }
}
@media (max-width: 320px) {
    .video {
        width: 288px;
        height: 192px;
    }
}