.content__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    max-width: 782px;
    text-align: center;
    margin: 5% auto 0 auto;
}

@media (max-width: 1024px) {
    .content__title  {
      margin-top: 6.6%;
    }

}

@media (max-width: 768px) {
    .content__title  {
      margin-top: 8.1%;
    }

}

@media (max-width: 375px) {
    .content__title  {
        font-size: 40px;
        line-height: 44px;
        width: 86%;
        margin-top: 13.3%;
    }
}

@media (max-width: 320px) {
    .content__title  {
        margin-top: 16.3%;
    }
}