.footer__link {
    margin: 0 3.4% 0 0;
}

.footer__link:last-child {
    margin-right: 0;
}

@media (max-width: 1024px) {
    .footer__link {
        margin: 0 5.1% 0 0;
    }
}

@media (max-width: 375px) {
    .footer__link {
        font-size: 24px;
        line-height: 41px;
        margin-bottom: 9%;
    }
}