.content__description-fact {
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    margin: 0 0 0.9% 0;
}

@media (max-width: 375px) {
    .content__description-fact {
        font-size: 12px;
        line-height: 19px;
        margin: 0;
    }
}