.content__description {
    max-width: 683px;
    margin: 0 8.5% 8.3% 8.5%;
}


@media (max-width: 1024px) {
    .content__description  {
      margin-bottom: 10.6%;
    }
}

@media (max-width: 768px) {
    .content__description  {
      margin: 0 0 12.1% 0;
      max-width: 100%;
    }
}

@media (max-width: 375px) {
    .content__description  {
        margin: 0 0 18.1% 0;
    }
}

@media (max-width: 375px) {
  .content__description  {
      margin: 0 0 20.3% 0;
  }
}