
@media (max-width: 1024px) {
    .place__container-image {
        width: 47.4%;
    }
}

@media (max-width: 375px) {
    .place__container-image {
        height: 375px;
        width: 375px;
    }
}

@media (max-width: 375px) {
    .place__container-image {
        height: 320px;
        width: 320px;
    }
}

@media (max-width: 320px) {
    .place__container-image {
        margin-top: 4%;
    }
}