.place {
    max-width: 984px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 375px) {
    .place {
        flex-direction: column;
        width: 375px;
    }
}


@media (max-width: 375px) {
    .place {
        width: 320px;
    }
}