.place__description {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 3.7% 0;
    font-weight: 300;
}


@media (max-width: 768px) {
    .place__description {
        font-size: 16px;
        line-height: 27px;
    }
}
@media (max-width: 375px) {
    .place__description {
        margin: 0 0 6.6% 0;
    }
}


